.swiper-button-next, .swiper-button-prev {
  color: #FFBA08;
  margin: 0 20px
}

.swiper-pagination-bullet {
  background: #999999;
  opacity: 1;
  height: 16px;
  width: 16px;
}

.swiper-pagination-bullet-active {
  background: #FFBA08;
}